.container {
  width: 1200px;
  margin: 20px auto;
  img {
    border-radius: 20px;
  }
  .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      #imgs {
        margin-top: 10px;
      }
      p {
        line-height: 60px;
        margin-left: 20px;
        color: var(--text-color);
      }
    }
    .right {
      display: flex;
      #github {
        font-size: 25px;
        position: relative;
        top: 4px;
        left: -50px;
        cursor: pointer;
        color: var(--github-color);
      }
    }
  }
}
