img[data-img] {
  width: 30px;
  height: 30px;
  position: relative;
  top: 18px;
  left: -80px;
  cursor: pointer;
}
.d {
  position: relative;
  top: 560px;
  left: -760px;
  img {
    width: 32px;
    height: 32px;
    transition: 0.5s;
    &:hover {
      transform: scale(2);
    }
  }
}
